@font-face {
  font-family: 'Avenir';
  src: url('~/static/fonts/lt-pro.ttf')
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Avenir;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
  color: #fff;
  user-select: none;
}

@keyframes rotating {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#canvas-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
}

.logo {
  position: fixed;
  left: 6.25rem;
  top: 2.5rem;
  transition: 1s opacity;
}

.logo svg path {
  fill: #fff;
  transition: .25s fill;
}

.inverse .logo svg path {
  fill: #000;
}

.nav {
  display: block;
  position: fixed;
  right: 5rem;
  top: 50%;
  transform: translateY(-50%);
  transition: .25s color, 1s opacity;
}

.inverse .mobile-nav,
.inverse .nav {
  color: #202020;
}

.nav .line {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 224px;
  background: radial-gradient(rgba(255, 255, 255, .7), transparent);
  transition: .25s background;
}

.inverse .nav .line {
  background: radial-gradient(rgba(192, 192, 192, .7), transparent);
}

.nav .section-progress {
  position: absolute;
  left: 3px;
  top: 9px;
  width: 3px;
  height: 0;
  background: linear-gradient(to left, transparent, #fff, transparent);
  transition: .25s background, .125s height;
}

.inverse .nav .section-progress {
  background: linear-gradient(to left, transparent, #666, transparent);
}

.nav .section-current {
  position: absolute;
  right: -3.5px;
  width: 9px;
  height: 9px;
  background-color: #3CE6FF;
  border-radius: 50%;
  transition: .25s top;
}
.nav .links {
  margin-right: 1.25rem;
}

.nav .nav-link {
  margin: 1rem 0;
  display: block;
  text-align: right;
  opacity: .5;
  cursor: pointer;
  transition: 250ms opacity, 250ms transform;
}

.nav .nav-link:hover {
  opacity: 1;
  transform: scale(1.1);
}

.nav .nav-link.active {
  opacity: 1;
}

.tap-to-start {
  position: fixed;
  left: 50%;
  bottom: 4rem;
  transform: translateX(-50%);
  color: #000;
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
  width: 14.5rem;
  height: 3rem;
  background: #fff;
  border-radius: 1.5rem;
}

.products {
  position: fixed;
  right: 6.25rem;
  top: 2.5rem;
  transition: .25s color;
  text-decoration: none;
  color: #fff;
  transition: 250ms transform, 1s opacity;
}
.inverse .products {
  color: #1E1E1E;
}
.products:hover {
  transform: scale(1.1);
}

.fast-forward-overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: radial-gradient(circle at center,#2C0F45 0%,#060635 50%);
  transition: 1s opacity;
}

.overlay {
  /* font-family: 'filson-pro'; */
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 0;
  transition: .25s opacity;
}
.overlay.show {
  display: block;
  opacity: 1;
}
.overlay-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 4rem);
  max-width: 580px;
  text-align: center;
  font-weight: 400;
}
.overlay-content p {
  display: block;
  white-space: pre;
  white-space: break-spaces;
  min-height: 1em;
}
.overlay-content .header {
  font-weight: 700;
  font-size: 2rem;
  line-height: 125%;
  margin-bottom: 2rem;
}
.overlay-open-mobile {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 250ms opacity;
}
.overlay-close-mobile {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 250ms opacity;
}

.mobile-nav,
.mobile-nav.is-opened {
  display: none;
}
.mobile-nav-overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(6, 6, 53, .95);
}
.inverse .mobile-nav-overlay {
  background: rgba(255, 255, 255, .95);
}

.learn-more {
  display: none;
  opacity: 0;
  position: fixed;
  /*width: 100%;*/
  left: 50%;
  top: 65%;
  text-align: center;
  transition: 500ms opacity, 100ms transform;
}

.learn-more .ctn__container {
  display: flex;
}

.learn-more .cta {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
  /*width: 10.5rem;*/
  width: auto;
  height: 3rem;
  padding: 0 1.5rem;

  background: white;
  border-radius: 1.5rem;
  transform: scale(1);
  transition: 250ms transform;
}

.learn-more .cta:not(:last-child) {
  margin-right: 20px;
}

.learn-more .cta:hover {
  transform: scale(1.2);
}
.learn-more .social {
  margin-top: 120px;
}
.learn-more .social a {
  position: relative;
  display: inline-block;
  margin: 0 .5rem;
  width: 1.5rem;
  height: 1.5rem;
  transform: scale(1);
  transition: 250ms transform;
}
.learn-more .social a:hover {
  transform: scale(1.1);
}
.learn-more .social a svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#preloader {
  opacity: 1;
  transition: 1s opacity;
}
#preloader svg {
  animation: rotating 2s linear infinite;
}
.loading-progress {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  transition: 100ms opacity;
}
.central-logo {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s opacity;
}

@media only screen and (max-width: 768px) {
  .products {
    display: none;
    left: 2rem;
    bottom: 2rem;
    right: unset;
    top: unset;
  }
  .logo {
    left: 2rem;
    top: 2rem;
  }
  .nav {
    display: none;
  }
  .mobile-nav {
    display: block;
    position: fixed;
    right: 2rem;
    top: 2rem;
    transition: 1s opacity;
  }
  .mobile-nav .circle {
    display: inline-block;
    width: 9px;
    height: 9px;
    background-color: #3CE6FF;
    border-radius: 50%;
    cursor: pointer;
  }
  .learn-more {
    top: 60%;
  }
  .learn-more .social {
    margin-top: 60px;
  }
}

.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.transparent {
  opacity: 0 !important;
}
